* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* @font-face {
  font-family: "lovable font";
  src: url("");
} */

a {
  text-decoration: none;
}

/* header start */

header {
  background-color: #181818e3;
  height: 11vh;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header-left a img {
  width: 129px;
}

.header-left {
  display: flex;
  gap: 1.8rem;
}

.header-left a img:hover {
  opacity: 0.8;
}

nav {
  display: flex;
  color: #fcfbf8;
  gap: 1.6rem;
  font-size: 0.85rem;
  align-items: center;
  font-weight: 500;
}

nav a {
  color: #fcfbf8;
}

nav a:hover {
  color: #fcfbf8cc;
  cursor: pointer;
}

nav p:hover {
  color: #fcfbf8cc;
  cursor: pointer;
}

.login-btn {
  padding: 7px 14px;
  background-color: #181818;
  color: #fcfbf8;
  border: 1px solid #fcfbf866;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #fcfbf866;
}

.get-started-btn {
  background-color: #fcfbf8;
  color: #181818;
  padding: 7px 14px;
  border-radius: 5px;
  border: 1px solid #fcfbf866;
  margin-left: 2px;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: #e4e4e4;
}

.resouces-option {
  height: 18vh;
  width: 19vw;
  position: absolute;
  background-color: #181818e3;
  border-radius: 1rem;
  top: 7vh;
  display: none;
  padding: 1.1rem 0 0 1.2rem;
  gap: 0.6rem;
  border: 1px solid #c9c7c142;
}

.resources-container {
  position: relative;
}

.resources-container p:hover + .resouces-option {
  display: flex;
  flex-direction: column;
}

.resources-container p i {
  transition: rotate 0.2s ease-in-out;
}

.resources-container p:hover i {
  rotate: 180deg;
}

.header-left p i {
  transition: rotate 0.2s ease-in-out;
}

.header-left p:hover i {
  rotate: 180deg;
}

/* header end */

/* main start */

main {
  background-color: #1c1c1c;
  height: 100vh;
  position: relative;
  z-index: 999;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
}

main img {
  width: 100%;
  position: absolute;
  z-index: -999;
  top: 0;
  scale: 2;
}

.introducing-btn {
  margin-right: 0.75rem;
}

.introducing-btn a {
  display: flex;
  justify-content: center;
  color: rgba(239, 246, 255, 1);
  background-color: rgba(0, 0, 0, 0.128);
  margin-bottom: 4vh;
  gap: 0.4rem;
  padding: 0.6rem;
  border-radius: 1.6rem;
}

.introducing-btn a:hover {
  background-color: rgba(0, 0, 0, 0.301);
}

.introducing-btn a:hover i {
  translate: 2px;
}

.introducing-btn span {
  background-color: rgb(59 130 246);
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.introducing-btn a p {
  font-size: 0.875rem;
  padding-top: 0.15rem;
}

.introducing-btn a i {
  padding-top: 0.4rem;
  font-size: 0.65rem;
  transition: all 0.4s ease-in-out;
}

main h1 {
  font-size: 2.8rem;
}

main > p {
  padding: 0.75rem 0 1.5rem 0;
  font-size: 1.25rem;
  color: #fcfbf8a6;
}

.input-container {
  width: 60vw;
  height: 25vh;
  background-color: #272725;
  margin-top: 1.5rem;
  border-radius: 2rem;
  border: 1px solid black;
  padding: 1.2rem 1.2rem 0.75rem 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-container input {
  width: 100%;
  height: 20%;
  border: none;
  outline: none;
  padding-left: 0.5rem;
  background-color: #272725;
  color: #e4e4e4;
  font-size: 1rem;
}

.input-container input::placeholder {
  color: #c5c1baec;
  font-size: 1rem;
}

.option-container {
  display: flex;
  justify-content: space-between;
}

.option-container .options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.options svg {
  height: 1.2rem;
}

.option-container .plus-icon {
  font-size: 1rem;
  border-radius: 50%;
  padding: 0.4rem;
  color: rgba(255, 255, 255, 0.904);
}

.option-container .plus-icon:hover {
  background-color: #c5c1ba3a;
}

.option-container .options button {
  color: #c5c1ba;
  background-color: #272725;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.option-container .options button:hover {
  background-color: #51514d64;
}

.option-container .options > span {
  padding-top: 0.3rem;
  padding: 0.3rem 0.4rem;
  border-radius: 50%;
}

.option-container .options > span:hover {
  background-color: #c5c1ba3a;
}

.option-container .options span:nth-child(3) {
  font-size: 1rem;
  background-color: #cfccc691;
  color: #272725;
  padding: 0.4rem;
  border-radius: 50%;
}

.box {
  height: 100vh;
}

/* image section */

.img-section1 {
  background-color: #1c1c1a;
  padding: 4.5rem 3rem;
}

.img-heading {
  display: flex;
  justify-content: space-between;
}

.img-heading h2 {
  color: #fcfbf8;
  font-size: 1.4rem;
  padding-bottom: 0.6rem;
}

.img-heading h3 {
  color: #c5c1ba;
  font-size: 1.1rem;
}

.img-section-icon {
  padding-right: 1rem;
}

.img-section-icon a {
  font-size: 0.85rem;
  color: #fcfbf8;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
}

.img-section-icon a:hover {
  background-color: rgba(93, 86, 86, 0.717);
}

.img-section-icon i {
  font-size: 0.9rem;
  padding-left: 5px;
}

.img-container {
  margin: 1.6rem 0;
}

.img-container .container1 {
  display: flex;
  gap: 1.65rem;
}

.img-container .container2 {
  display: flex;
  gap: 1.65rem;
  padding-top: 1.7rem;
}

.img-container .container1 .img-content .main-img {
  width: 21vw;
  height: 26vh;
  border-radius: 0.7rem;
}

.img-container .container2 .img-content .main-img {
  width: 21vw;
  height: 26vh;
  border-radius: 0.7rem;
}

.img-section1 .img-content .img-text {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.img-content .img-text span:first-child {
  color: #fcfbf8;
  font-size: 1rem;
}

.img-content .img-text span:last-child {
  color: #c5c1ba;
  font-size: 0.85rem;
  padding-top: 0.25rem;
}

.img-section2 {
  background-color: #1c1c1a;
  padding: 0 3rem;
}

.img-section2 .img-content .logo img {
  width: 2.5rem;
  border-radius: 0.5rem;
}

.img-section2 .img-content .examai img {
  height: 2.3rem;
}

.img-section2 .img-container .img-text {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5rem;
}

.img-section2 .img-container .img-text .img-info span {
  display: flex;
  flex-direction: column;
}

.img-section2 .img-container .img-text i {
  color: rgba(255, 255, 255, 0.788);
  font-size: 0.85rem;
}

.img-section2 {
  padding-bottom: 2rem;
}

/* footer */

footer {
  height: 100vh;
  background-color: #1a1919;
}
