* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* @font-face {
  font-family: "lovable font";
  src: url("");
} */

a {
  text-decoration: none;
}

/* header start */

header {
  background-color: #181818e3;
  height: 11vh;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header-left a img {
  width: 129px;
}

.header-left {
  display: flex;
  gap: 30px;
}

.header-left a img:hover {
  opacity: 0.8;
}

nav {
  display: flex;
  color: #fcfbf8;
  gap: 30px;
  font-size: 0.85rem;
  align-items: center;
  font-weight: 500;
}

nav a {
  color: #fcfbf8;
}

nav a:hover {
  color: #fcfbf8cc;
  cursor: pointer;
}

nav p:hover {
  color: #fcfbf8cc;
  cursor: pointer;
}

.login-btn {
  padding: 7px 14px;
  background-color: #181818;
  color: #fcfbf8;
  border: 1px solid #fcfbf866;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #fcfbf866;
}

.get-started-btn {
  background-color: #fcfbf8;
  color: #181818;
  padding: 7px 14px;
  border-radius: 5px;
  border: 1px solid #fcfbf866;
  margin-left: 2px;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: #e4e4e4;
}

.resouces-option {
  height: 100px;
  width: 200px;
  position: absolute;
  background-color: #181818e3;
  border-radius: 15px;
  top: 7vh;
  display: none;
  padding: 18px 0 0 18px;
  gap: 8px;
  border: 1px solid #c9c7c1;
}

.resources-container {
  position: relative;
}

.resources-container p:hover + .resouces-option {
  display: flex;
  flex-direction: column;
}

.resources-container p i {
  transition: rotate 0.2s ease-in-out;
}

.resources-container p:hover i {
  rotate: 180deg;
}

.header-left p i {
  transition: rotate 0.2s ease-in-out;
}

.header-left p:hover i {
  rotate: 180deg;
}

/* header end */

/* main start */

main {
  background-color: #1c1c1c;
  height: 100vh;
  position: relative;
  z-index: 999;
  overflow: hidden;
}

main img {
  width: 100%;
  position: absolute;
  z-index: -999;
  top: 0;
  scale: 2;
}
