* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* @font-face {
  font-family: "lovable font";
  src: url("");
} */

a {
  text-decoration: none;
}

/* header start */

header {
  background-color: #181818e3;
  height: 11vh;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.header-left a img {
  width: 129px;
}

.header-left {
  display: flex;
  gap: 30px;
}

.header-left a img:hover {
  opacity: 0.8;
}

nav {
  display: flex;
  color: #fcfbf8;
  gap: 1.6rem;
  font-size: 0.85rem;
  align-items: center;
  font-weight: 500;
}

nav a {
  color: #fcfbf8;
}

nav a:hover {
  color: #fcfbf8cc;
  cursor: pointer;
}

nav p:hover {
  color: #fcfbf8cc;
  cursor: pointer;
}

.login-btn {
  padding: 7px 14px;
  background-color: #181818;
  color: #fcfbf8;
  border: 1px solid #fcfbf866;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #fcfbf866;
}

.get-started-btn {
  background-color: #fcfbf8;
  color: #181818;
  padding: 7px 14px;
  border-radius: 5px;
  border: 1px solid #fcfbf866;
  margin-left: 2px;
  cursor: pointer;
}

.get-started-btn:hover {
  background-color: #e4e4e4;
}

.resouces-option {
  height: 18vh;
  width: 19vw;
  position: absolute;
  background-color: #181818e3;
  border-radius: 1rem;
  top: 7vh;
  display: none;
  padding: 1.1rem 0 0 1.2rem;
  gap: 0.6rem;
  border: 1px solid #c9c7c142;
}

.resources-container {
  position: relative;
}

.resources-container p:hover + .resouces-option {
  display: flex;
  flex-direction: column;
}

.resources-container p i {
  transition: rotate 0.2s ease-in-out;
}

.resources-container p:hover i {
  rotate: 180deg;
}

.header-left p i {
  transition: rotate 0.2s ease-in-out;
}

.header-left p:hover i {
  rotate: 180deg;
}

/* header end */

/* main start */

main {
  background-color: #1c1c1c;
  height: 100vh;
  position: relative;
  z-index: 999;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30vh 0 0 0;
}

main img {
  width: 100%;
  position: absolute;
  z-index: -999;
  top: 0;
  scale: 2;
}

.introducing-btn {
  margin-right: 0.75rem;
}

.introducing-btn a {
  display: flex;
  justify-content: center;
  color: rgba(239, 246, 255, 1);
  background-color: rgba(0, 0, 0, 0.128);
  margin-bottom: 4vh;
  gap: 0.4rem;
  padding: 0.6rem 0.6rem;
  border-radius: 1.6rem;
}

.introducing-btn a:hover {
  background-color: rgba(0, 0, 0, 0.244);
}

.introducing-btn span {
  background-color: rgb(59 130 246);
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.introducing-btn a p {
  font-size: 0.875rem;
  padding-top: 0.15rem;
}

.introducing-btn a i {
  padding-top: 0.4rem;
  font-size: 0.65rem;
}

main h1 {
  font-size: 2.8rem;
}

main > p {
  padding: 0.75rem 0 1.5rem 0;
  font-size: 1.25rem;
  color: #fcfbf8a6;
}

.form-input {
  width: 60vw;
  height: 25vh;
  background-color: rgb(46, 45, 45);
  margin: 1.75rem;
  border-radius: 2rem;
}

.form-input textarea {
  height: 60%;
  width: 90%;
}
